body {
    font-family: Arial, sans-serif;
    padding: 2em;
    background: #f2f2f2;
    color: #333;
}

h1 {
    color: #222;
}

li {
    background: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    list-style: none;
}
