<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: auto;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px 12px;
        }
        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Panel Administratora</h1>
    <h2>Dodaj nowe wydarzenie</h2>
    <form method="POST">
    <div style="margin-bottom: 10px;">
        <label for="title" style="display: inline-block; width: 120px;">Tytuł:</label>
        <input type="text" id="title" name="title" required>
    </div>
    
    <div style="margin-bottom: 10px;">
        <label for="date" style="display: inline-block; width: 120px;">Data:</label>
        <input type="date" id="date" name="date" placeholder="YYYY-MM-DD" required>
    </div>
    
    <div style="margin-bottom: 10px;">
        <label for="available" style="display: inline-block; width: 120px;">Liczba miejsc:</label>
        <input type="number" id="available" name="available" min="1" required>
    </div>
    
    <button type="submit">Dodaj wydarzenie</button>
    </form>

    <!-- <h2>Wydarzenia</h2>
    <ul>
        {% for event in events %}
            <li>
                {{ event.title }} ({{ event.date }}, miejsc: {{ event.available }})
                <form method="POST" action="{{ url_for('delete_event', event_id=event.id) }}" style="display:inline;">
                   <button type="submit" onclick="return confirm('Na pewno usunąć to wydarzenie?')">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul> -->


    <h2>Wydarzenia</h2>
    <ul>
      {% for event in events %}
        <li>
        <strong>{{ event.title }}</strong> – {{ event.date }}<br>
              <a href="{{ url_for('view_reservations_for_event', event_id=event.id) }}">
                Zobacz rezerwacje ({{ event.reservations | length }} zajętych z {{ event.available + event.reservations|length }})
              </a>
        </li>
          {% endfor %}
    </ul>
    <p style="text-align: center;"><a href="{{ url_for('admin_logout') }}">Wyloguj się</a></p>
</body>
</html>
